<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blysin.demo.web.dao.NewPlatformDao">


    <select id="findAll" resultType="com.blysin.demo.mybatis.domian.NewPlatform">
        select *
        from tc_new_platform
    </select>
    <select id="getById" resultType="com.blysin.demo.mybatis.domian.NewPlatform" parameterType="int">
        select *
        from tc_new_platform
        where id = #{id};
    </select>
    <select id="getByParkName" resultType="com.blysin.demo.mybatis.domian.NewPlatform">
        select *
        from tc_new_platform
        where park_name = #{parkName}
    </select>


</mapper>