<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blysin.demo.mybatis.test.dao.TcLogCompDao">

    <resultMap type="com.blysin.demo.mybatis.test.TcLogComp" id="TcLogCompMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="lotcode" column="lotCode" jdbcType="INTEGER"/>
        <result property="detailsId" column="details_id" jdbcType="INTEGER"/>
        <result property="detailId" column="detail_id" jdbcType="INTEGER"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="syncContent" column="sync_content" jdbcType="VARCHAR"/>
        <result property="syncTime" column="sync_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

   

</mapper>